@charset "UTF-8";

body {
	margin: 0;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
	color: #3f3f3f;
	background: #fff;
	overflow: scroll;
}
.title {
	width: 900px;
	margin: 0 auto;
}

/* ヘッダー */
header {
	border-bottom: solid 1px;
}
header .title {
	height: 48px;
}
header h1 {
	margin: 0;
}

/* 中身 */
#content {
	width: 900px;
	margin: 0 auto;
	padding: 5px;
}

/* 私 */
#mine {
	width: 90%;
	height: 250px;
	margin: 0 auto;
}
#mine form {
	height: 100%;
	padding: 5px;
	clear: both;
}
#mine textarea {	/* 独り言 */
	display: block;
	width: 50%;
	height: 200px;
	border: none;
	background: #e6b7c1;
	float: left;
}
#mine .control {
	width: 45%;
	height: 200px;
	float: right;
}
#mine .color_select {	/* 色選択 */
	width: 100%;
	height: 70%;
}
#mine .color {
	width: 50px;
	height: 50px;
	border: solid 1px #000;
	margin-right: 2%;
	float: left;
}
#mine input[type="submit"] {
	display: block;
	width: 80px;
	height: 40px;
	clear: both;
}

/* みんな */
#everyone {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}
#everyone .who {
	background: #e6b7c1;
}
#everyone .reaction {	/* 反応 */
	width: 100%;
	height: 40%;
}
#everyone .cheer,		/* 応援 */
#everyone .sympathy {	/* 共感 */
	display: inline-box;
	width: 49.5%;
	height: 100%;
	margin: 1px;

}

/* フッター */
footer {
	border-top: solid 1px;
	clear: both;
}
footer .title {
	height: 25px;
	padding: 5px;
}