<header>
** header **
	<div class="title">
	** title **
	</div>
</header>

<div id="content">
** content **
	<div class="mine">
	** mine **
		<div class="reaction">
		** reaction **
			<div class="cheer">** cheer **</div>
			<div class="sympathy">** sympathy **</div>
			<div class="favorite">** favorite **</div>
		</div>
		
		<form>
		** form **
			<textarea  name="scolding">** textarea **</textarea>
			<input type="submit" />** submit **
		</form>
	</div>
	
	<div class="everyone">** everyone **</div>
</div>

<footer>
** footer **
	<div class="title">
	** title **
		<small>** copyright **</small>
	</div>
</footer>
