<header>** ヘッダー **
	<div class="title">** タイトル **</div>
</header>

<div id="content">** 中身 **
	<div class="mine">** 私 **
		<form>** フォーム **
			<textarea name="soliloquys">** テキストエリア **</textarea>
			<input type="submit" />** 送信ボタン **
		</form>
	</div>
	
	<div class="everyone">** みんな **
		<div class="who">** 誰 **
			<div class="reaction">** 反応 **
				<div class="cheer">** 応援 **</div>
				<div class="sympathy">** 共感 **</div>
			</div>
		</div>
	</div>
</div>

<footer>** フッター**
	<div class="title">** タイトル **
		<small>** コピーライト **</small>
	</div>
</footer>
