<!DOCTYPE html>
<html lang="ja">
<head>
	<?php echo $this->Html->charset(); ?>
	
	<title><?php echo $title_for_layout; ?></title>
	<?php echo $this->Html->css('cake.chiraura');
		echo $scripts_for_layout; ?>
</head>
<body>
	<header><!-- ヘッダー -->
		<div class="title">
			<h1><?php echo $title_for_layout; ?></h1>
		</div>
	</header>

	<div id="content"><!-- 中身 -->
	
		<div id="mine"><!-- 私 -->
			<form>
				<textarea name="soliloquy"></textarea><!-- 独り言 -->
				<div class="control">
					<div class="color_select">
						<p>COLOR</p>
						<div class="color"></div>
						<div class="color"></div>
						<div class="color"></div>
						<div class="color"></div>
						<div class="color"></div>
					</div>
					<input type="submit" value="送信">
				</div>

			</form>
		</div>
		
		<div id="everyone"><!-- みんな -->
		
			<div class="who"><!-- 誰か -->
				<div class="soliloquy">あいうえお</div><!-- 独り言 -->
				<div class="reaction"><!-- 反応 -->
					<div class="cheer"><!-- 応援 -->
						応援
					</div>
					<div class="sympathy"><!-- 共感 -->
						共感
					</div>
				</div>
			</div>
			
		</div>
		
	</div>
	
	<footer><!-- フッター -->
		<div class="title">
			<small>&copy; 2015　chirashi no ura</small>
		</div>
	</footer>
</body>
</html>