<!DOCTYPE html>
<html lang="ja">
<head>
	<?php echo $this->Html->charset(); ?>
	
	<title><?php echo $title_for_layout; ?></title>
	<?php echo $this->Html->css('cake.chiraura');
		echo $scripts_for_layout; ?>
</head>
<body>
	<header>
		<div class="title">
			<h1><?php echo $title_for_layout; ?></h1>
		</div>
	</header>

	<div id="content">
		<div id="mine">
			<div class="reaction">
				<div class="cheer">
					<p>5</p>
					応援
				</div>
				<div class="sympathy">
					<p>3</p>
					共感
				</div>
				<div class="favorite">
					<p>10</p>
					お気に入り
				</div>
			</div>
			
			<form>
				<textarea  name="scolding"></textarea>
				<input type="submit" />
			</form>
		</div>
		
		<div id="everyone">
			
		</div>
	</div>
	
	<footer>
		<div class="title">
			<small>&copy; 2015　chirashi no ura</small>
		</div>
	</footer>
</body>
</html>